services:

  - type: web
    name: config-server
    env: docker
    dockerfilePath: Dockerfile.config
    region: frankfurt
    plan: free
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: native

      - key: SPRING_CLOUD_CONFIG_SERVER_GIT_URI
        value: https://github.com/BatuhanYarimbatman/COMP301-proje-eventplanner

      - key: SPRING_CLOUD_CONFIG_SERVER_GIT_SEARCH_PATHS
        value: .


  - type: web
    name: discovery-server
    env: docker
    dockerfilePath: Dockerfile.discovery
    region: frankfurt
    plan: free
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: production


  - type: web
    name: user-service
    env: docker
    dockerfilePath: Dockerfile
    region: frankfurt
    plan: free
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:http://config-server:8888
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: http://discovery-server:8761/eureka/

      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false


  - type: web
    name: event-catalog-service
    env: docker
    dockerfilePath: Dockerfile.event
    region: frankfurt
    plan: free
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:http://config-server:8888
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: http://discovery-server:8761/eureka/
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false

  - type: web
    name: booking-service
    env: docker
    dockerfilePath: Dockerfile.booking
    region: frankfurt
    plan: free
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:http://config-server:8888
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: http://discovery-server:8761/eureka/
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false


  - type: web
    name: api-gateway
    env: docker
    dockerfilePath: Dockerfile.gateway
    region: frankfurt
    plan: free
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: production
      - key: SPRING_CONFIG_IMPORT
        value: optional:configserver:http://config-server:8888
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: http://discovery-server:8761/eureka/